@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter',sans-serif;
    background: #f4f4f6;
    color: #1a1a1f;
}

.container {
    display: grid;
    grid-template-columns: 240px 1fr 300px;
    grid-template-rows: 50px 1fr 30px;
    height: 100vh;
}

.header {
    grid-column: 1/-1;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e8;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.toolbar {
    display: flex;
    gap: 8px;
}

.header h1{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: #181818;
    padding: 4px 8px;
}

.header h1:hover {
    background: #69696915;
    border-radius: 4px;
    cursor: pointer;
}

.toolbar button {
    background-color: #fff;
    border: 1px solid #e3e3e8;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 6px;
    cursor: not-allowed;
    color: #333;
    opacity: 0.6;
}

.palette {
    border-right: 1px solid #e3e3e8;
    padding: 20px;
    background-color: #fff;
}


.palette h3, .inspector h3 {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #6b6b76;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.palette ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.palette li {
    list-style-type: none;
    background-color: #f8f8fa;
    border: 1px solid #e3e3e8;
    font-size: 13px;
    cursor: grab;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 4px;
}

.palette li:hover {
    background-color: #eeedf2;
    border-color: #d1d1db;
}
.canvas-container {
    background-color: #f4f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    overflow: auto;
}

.canvas {
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-width: 800px;
    border: 1px solid #cbd5e1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.inspector {
    background-color: #fff;
    border-left: 1px solid #e3e3e8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
}

.inspector-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #e3e3e8;
}

.inspector-section:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

#elem-tree-list {
    flex:1;
    overflow-y:auto;
    margin-top:8px;
}

.canvas p{
    color: #8c8c9a;
    font-size: 14px;
}
.canvas [data-node-id]{
    cursor:pointer;
}

.inspector p{
    font-size: 13px;
    color: #6b6b76;
}

.inspector-headr {
    font-size:12px; 
    letter-spacing:0.5px;
    color: #6b6b76;
    margin-bottom:8px;
    text-transform:uppercase;
}

.inspector-selected {
    font-size: 13px;
    font-weight: 500;
    display: block;
}

.inspector-selected span {
    font-weight: 400;
    text-transform: capitalize;
}

.inspector-text-label {
    font-size: 13px; 
    font-weight:500; 
    display: block;
    margin-bottom:4px; 
    margin-top:8px;
}
#inspector-content-input {
    width:100%; 
    padding: 6px 12px; 
    border: 1px solid #8888887d;
    border-radius:6px; 
    font-size: 13px; 
    outline: none;
    color: #000000d7;
}

#inspector-delete-btn {
    margin-top:10px; 
    width:100%; 
    background-color: #fff;
    border: 1px solid #e5484d;
    padding: 6px 12px;
    font-size: 13px;
    border-radius: 6px;
    cursor: pointer;
    color: #e5484d;
    outline: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#inspector-delete-btn:hover {
    background-color: #e5484d !important;
    color: #fff !important;
}

.inspector-properties {
    flex:1;
    overflow-y:auto;
}

.footer {
    grid-column: 1/-1;
    background-color: #fff;
    border-top: 1px solid #e3e3e8;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 13px;
    color: #6b6b76;
}

